# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

###########
# ANGULAR #
###########
# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist/
/tmp/
/out-tsc/

# dependencies
/node_modules/
package-lock.json

# testing
/karma.conf.js
/tsconfig.spec.json
/setupJest.ts
/jest.config.js
/src/test.ts
/src/polyfills.ts

# IDEs and editors
/.idea/
/.vscode/
*.swp
*.swo
*.dstore
*.ds_store

# misc
.DS_Store
Thumbs.db
*.log

# Environment variables
.env
.env.prod
.env.prod.local
.env.staging
.env.staging.local
.env.development
.env.development.local
