<div class="container mt-4">
  <h1>Your Growers</h1>
  <p>
    At our farm, we pride ourselves on working with the best local growers to
    bring you the freshest and highest quality produce possible. Here are some
    of our growers:
  </p>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="grower1.jpg" class="card-img-top" alt="Grower 1" />
        <div class="card-body">
          <h5 class="card-title">John Smith</h5>
          <p class="card-text">
            John Smith is a fourth-generation farmer with over 30 years of
            experience growing the best corn in the region.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="grower2.jpg" class="card-img-top" alt="Grower 2" />
        <div class="card-body">
          <h5 class="card-title">Maria Rodriguez</h5>
          <p class="card-text">
            Maria Rodriguez grows the most flavorful tomatoes you'll ever taste,
            thanks to her secret blend of organic fertilizers.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="grower3.jpg" class="card-img-top" alt="Grower 3" />
        <div class="card-body">
          <h5 class="card-title">David Lee</h5>
          <p class="card-text">
            David Lee has a passion for growing the best strawberries, using
            innovative techniques to extend the growing season and produce
            sweeter berries.
          </p>
        </div>
      </div>
    </div>
  </div>
  <p>
    These are just a few of the amazing growers we work with. We believe that by
    working together, we can bring you the freshest and highest quality produce
    possible. Thank you for supporting our local growers!
  </p>
</div>
