<div class="container mt-4">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to our website!</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec nisl
      euismod, sagittis nibh ac, imperdiet velit. Suspendisse varius purus in
      lacus dictum sollicitudin.
    </p>
    <hr class="my-4" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec nisl
      euismod, sagittis nibh ac, imperdiet velit. Suspendisse varius purus in
      lacus dictum sollicitudin. Suspendisse auctor velit vitae nunc accumsan,
      nec rhoncus enim eleifend. Sed maximus gravida bibendum.
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
